.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding: 16px 32px;
  max-height: 500px;
  transition: max-height 500ms;
  overflow: hidden;
  z-index: 1100;

  nav {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .iconContainer {
      position: absolute;
      top: 16px;
      right: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        height: 24px;
      }
    }

    .internalLinks {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      a {
        font-family: "Mohave", "Mohave Fallback", "sans-serif";
        text-decoration: none;
        font-size: 24px;
        line-height: 1;
        text-transform: uppercase;

        &:hover {
          color: var(--font-link-color);
        }

      }

      .titleLink {
        margin-bottom: 16px;
      }

      .menuSeparator {
        display: none;
      }

      .menuLink {
        color: var(--font-color);

        &.active {
          color: var(--font-link-color);
        }
      }

    }

    .socialMediaContainer {
      display: flex;
      flex-direction: row;
      gap: 16px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 24px;
        }
      }
    }
  }

  &.closed {
    max-height: var(--menu-size);
  }
}

@media only screen and (min-width: 1024px) {
  .menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 1024px;

      .iconContainer {
        display: none;
      }

      .internalLinks {
        flex-direction: row;
        gap: 8px;

        .titleLink {
          margin-bottom: 0px;
          color: var(--font-color)
        }

        .menuSeparator {
          display: block;
        }
      }
    }
  }
}
.menuOverlay {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
