.horizontalCardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .imageContainer {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;

    .subtitle {
      font-weight: bold;
    }

    .linksContainer {
      display: flex;
      gap: 8px;
      margin-top: 8px;

      .linksSeparator {
        color: var(--font-link-color);

        &:last-of-type {
          display: none;
        }
      }
    }
  }
}

.modalOuterContainer {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;

  .modalInnerContainer {
    max-height: calc(100vh - 64px);
    overflow: scroll;
    background-color: var(--bg-color);
    padding: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .horizontalCardContainer {
    flex-direction: row;

    .imageContainer {
      width: 25%;
    }

    .textContainer {
      width: 50%;
    }
  }
}
