:root {
  --bg-color: #efefef;
  --font-color: #1e1e1e;
  --font-link-color: #89506d;
  --menu-size: 56px;
  --body-font: "DM Sans", "DM Sans Fallback", sans-serif;
  --header-font: "Mohave", "Mohave Fallback", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--body-font);
  margin-top: var(--menu-size);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
  width: 100%;
}

/* MARGINS */

.block-outer-container {
  padding: 0 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.block-inner-container {
  width: 100%;
  max-width: 1024px;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 600;
}

a {
  color: var(--font-link-color);
}

/* SLICK STYLES */

.slick-slider .slick-list, .slick-slider .slick-track, .slick-slider .slick-slide, .slick-slide div {
  height: 100%;
}