:root {
  --bg-color: #efefef;
  --font-color: #1e1e1e;
  --font-link-color: #89506d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", "DM Sans Fallback", sans-serif;
  margin-top: 66px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

/* MARGINS */

.block-outer-container {
  padding: 0 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.block-inner-container {
  width: 100%;
  max-width: 1024px;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mohave", "Mohave Fallback", sans-serif;
  font-weight: 600;
}

a {
  color: var(--font-link-color);
}
